body {
  font-family: Arial, sans-serif;
  margin: 0px;
  display: grid;
}

header {
  text-align: center;
  background-color: #34cae4;
  padding: 5px;
  grid-column: span 2;
}

nav {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  background-color: rgb(165, 162, 162);
  margin: 0;
  height: 80px;
}

.lista-redes {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.icono {
  margin-right: 5px;
  color: #34cae4;
  font-size: 28px;
}

.nav-link {
  text-decoration: none;
  color: rgb(24, 185, 203);
}

.nav-link:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.curriculum-section {
  margin: 20px;
}

.column {
  margin: 20px;
}

.column:first-child {
  border-right: 5px solid rgb(165, 162, 162);
}

.descripcion .educacion,
.stack .experiencia {
  margin: 40px;
  gap: 20px;
}

.descripcion p {
  text-align: justify;
}

.experiencia p {
  margin: 5px;
}

button {
  position: relative;
  bottom: 60px; /* Ajusta para evitar el footer */
  right: 20px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #34cae4;
  border: none;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #1fb1c7;
}

footer {
  background-color: #34cae4;
  grid-column: span 2;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo específico para impresión */
@media print {
  nav {
      margin: 0;
  }

  button {
      display: none;
  }
}
